@import "reset.css";


* {
    font-size: 16px;
    box-sizing: border-box;
}

.header {
    background: #333333;
    position: static;
    height: 5rem;
    border-bottom: 0.3rem solid #00a9ff;;
}

.header__nav {
    padding-left: 2rem;
}

.nav__list {
    text-transform: uppercase;
    font-size: 0;
}

.nav__item {
    display: block;
    float: left;
}

.nav__item:hover a{
    background: #00a9ff;
    color: white;
}

.nav__item > a, .product__item > a, .subproduct__item > a{
    text-decoration: none;
    color: lightgray;
    height: 100%;
    display: block;
    padding: 2rem 1rem;
    font-size: 1rem;
}

.products {
    position: relative;
}

.products  li {
    border: 1px solid #008ef5;
}

.products:hover .products__list{
    top: 5rem;
}

.product__item > a {
    background: #00a9ff;
}

.clearFix {
    clear: both;
}

.products__list {
    width: 150%;
    position: absolute;
    top: -7rem;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.subproducts {
    position: relative;
}

.subproducts:hover .subproducts__list{
    top:0;
}

.subproducts__list {
    position: absolute;
    left: 100%;
    top: -17rem;
    width: 100%;
    transition: all 0.3s ease-in-out;
}